// dark mode
$primary-color-dark: #0e0e0e;
// Set the dark background to a gradient instead of a solid color
$body-background-dark: linear-gradient(0deg, rgb(12, 21, 41) 10%, rgb(45, 55, 80) 100%);
$text-color-dark: #ffffff;

/*
THE INPUT FIELD
*/
.createDateRangePicker {
    // Use background instead of background-color to support the gradient:
    background: $body-background-dark;
    border: 1px solid #27272b;

    &:hover {
        border: 1px solid $primary-color-dark;
        background: $body-background-dark;
    }

    &:focus {
        border: 1px solid $primary-color-dark;
        background: $body-background-dark;
    }

    // The bar under the selection remains the same:
    .ant-picker-active-bar {
        background-color: $primary-color-dark;
    }

    .ant-picker-separator {
        color: $primary-color-dark;
    }

    .ant-picker-suffix {
        color: $text-color-dark;
    }

    .ant-picker-clear {
        background: $body-background-dark;
        color: $primary-color-dark;
        &:hover {
            background: $body-background-dark;
            color: #94bdd2;
        }
    }

    .ant-picker-input {
        color: $text-color-dark;
    }

    input {
        color: $text-color-dark !important;
        &::placeholder {
            color: rgba(256, 256, 256, 0.6) !important;
        }
    }
}

/*
THE POP UP FILED
*/
.createDateRangePickerPopup {
    .ant-picker-panel-container {
        background: $body-background-dark;

        .ant-picker-header {
            color: $text-color-dark;
            button {
                color: $text-color-dark;
            }
        }

        thead > tr > th {
            color: $text-color-dark;
        }

        .ant-picker-cell-inner {
            color: $text-color-dark;
        }

        .ant-picker-cell-range-start,
        .ant-picker-cell-range-end {
            div {
                background: $primary-color-dark !important;
                color: $text-color-dark;
            }
        }

        .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
        .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
            background-color: $primary-color-dark !important;
        }

        .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
            border-color: $primary-color-dark !important;
        }

        .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single)::before,
        .ant-picker-cell-in-view.ant-picker-cell-in-range::before,
        .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single)::before,
        .ant-picker-time-panel-column > li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
            background: rgba(12, 71, 81, 0.2) !important;
        }
    }
}
