@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app,
.content {
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    background: linear-gradient(to right, #0E1B2C, #162A40);
    color: #A9D6E5;
}
.custom-image-node {
    display: inline-block !important;
    width: 300px; /* fixed width */
    margin-right: 16px; /* adjust gap between images */
    vertical-align: top;
  }
  
/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: #1B2A3B;
}

::-webkit-scrollbar-thumb {
    background: #2E95D3;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(46, 149, 211, 0.8);
}

/* Buttons */
button {
    background-color: transparent;
    color: #A9D6E5;
    border: 1px solid #2E95D3;
    padding: 8px 16px;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #2E95D3;
    color: white;
}

/* Progress Bars */
.progress-bar {
    height: 6px;
    background: #2E95D3;
    border-radius: 5px;
}

.progress-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

/* Ant Picker Styling */
.ant-picker-input {
    color: #A9D6E5 !important;
}

@layer base {
    :root {
        --background: #0E1B2C;
        --foreground: #A9D6E5;

        --muted: #1B2A3B;
        --muted-foreground: #7EA1C5;

        --popover: #0E1B2C;
        --popover-foreground: #A9D6E5;

        --card: #0E1B2C;
        --card-foreground: #A9D6E5;

        --border: #1B2A3B;
        --input: #1B2A3B;

        --primary: #2E95D3;
        --primary-foreground: #0E1B2C;

        --secondary: #1B2A3B;
        --secondary-foreground: #A9D6E5;

        --accent: #1B2A3B;
        --accent-foreground: #A9D6E5;

        --destructive: #9D3A3A;
        --destructive-foreground: #FFD3D3;

        --ring: #1B2A3B;
        --radius: 0.5rem;
    }

    .dark {
        --background: #0E1B2C;
        --foreground: #A9D6E5;

        --muted: #1B2A3B;
        --muted-foreground: #7EA1C5;

        --popover: #0E1B2C;
        --popover-foreground: #A9D6E5;

        --card: #0E1B2C;
        --card-foreground: #A9D6E5;

        --border: #1B2A3B;
        --input: #1B2A3B;

        --primary: #2E95D3;
        --primary-foreground: #0E1B2C;

        --secondary: #1B2A3B;
        --secondary-foreground: #A9D6E5;

        --accent: #1B2A3B;
        --accent-foreground: #A9D6E5;

        --destructive: #9D3A3A;
        --destructive-foreground: #FFD3D3;

        --ring: #1B2A3B;
    }
}
